/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f8fdb5;
    background-image: linear-gradient(to right, #fcc81e 40%, #f8fdb5 100%);
}

.bg {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
}